.cashsale{
    width: 180px;
    height: 250px;
    border-radius: 30px;

}
.BLOCK1{
    display:inline;
    dding: 2px 2px 2px 2px;
    margin-left: 6px;
    margin-bottom: 5px;

}
.Dashboard{
    display: inline-block;
}
